html {
  // min-height: 100%; /* make sure it is at least as tall as the viewport */
  // position: relative;
  body {
    height: stretch;

    .MenuAppBar-root-1 {
      min-width: 100%;
      position: fixed;
      // Title
      .MuiTypography-title-71 {
        font-size: 2rem;
      }
    }
    .loginForm {
      height: 90vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      .login-form-paper {
        width: 50rem;
        padding: 3rem 5rem 5rem 5rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        //   align-content: center;

        form {
          display: flex;
          flex-direction: column;
          align-content: center;
          flex-wrap: wrap;
          justify-content: center;
          size: 10rem;

          label {
            font-size: 2.3rem;
          }
          input {
            font-size: 2.5rem;
          }

          .login-form-button {
            margin-top: 3rem;
          }
        }
      }
    }

    .MuiIconButton-label-46 {
      font-size: 2.5rem;
    }
    .user-info-menu-item {
      font-size: 1.5rem;
    }

    .ReactTable {
      position: absolute;
      top: 64px;
      left: 0px;
      right: 0px;
      bottom: 46px;
    }
    .pagination-bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
